body {
    background-color: #d9d9d9 !important;
}

.logo-1 {
    /* margin-left: 36px; */
    margin: 0 20px 0 0;
    margin-left: -10px;


}

.judul {
    margin-top: 133px;
    margin-left: 17px;
    margin-bottom: 13px;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.note-alert {
    margin-top: 4px;
    margin-left: 11px;
    font-size: 14px;

}